# Virtual Environment
.venv/
venv/
env/

# Python bytecode and cache
__pycache__/
*.pyc

# Testing Artifacts
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# OS metadata (Mac)
.DS_Store

# IDE settings
.vscode/
.idea/

# Secrets and Credentials
google-sheets-api.json
.env
